RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} !index.php
RewriteRule ^(.*)(/)?$ /index.php?dir=$1 [NC,L,QSA]

<IfModule mod_autoindex.c>
HeaderName /top.html
ReadmeName /end.html
IndexIgnore top.html end.html
</IfModule>
