RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^([^?]*)$ /index.php?dir=$1 [NC,L,QSA]

<IfModule mod_autoindex.c>
HeaderName /top.html
ReadmeName /end.html
IndexIgnore top.html end.html
</IfModule>
