RewriteEngine on
RewriteBase /

RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^(.*)(/)?$ index.php?dir=$1 [L]

<IfModule mod_autoindex.c>
HeaderName /top.html
ReadmeName /end.html
IndexIgnore top.html end.html
</IfModule>
